body{

	margin: 0;
	padding: 0;
}

#titre{

font-family:"Roboto";
text-align: center;
}

footer{


	background-color: black;
	width: 100%;
	height:200px;
	position: absolute;
	bottom: 0%;
}

#second_text{
text-align: center;


	font-size: 10px;

}




.droite{

	text-align:left;
	color:white;
padding-left: 80%
}

section{

	text-align: center;
}

.images div{
   display: inline-block;
}

